:root {
  --bg-dark: #080808;
  --bg-alt: #535353;
  --green: #3e7742;
  --brown: #431a10;
  --beige: #e1b89f;
  --text-lt: #f9f9f9;
  --text-dk: #303030;
  --yellow: #d4a017; /* For highlights or Call to Action */
  --red: #7c1c1c; /* For vibrancy (important elements) */
  --teal: #2e7d6c;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
header {
    background-color: var(--bg-alt);
    color: var(--text-lt);
    text-align: center;
    border-bottom: 2px solid var(--brown);
}
  
nav button {
    background: var(--brown);
    border: none;
    color: var(--text-lt);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0.5rem;
    padding: 10px 20px 10px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}
  
nav button:hover {
    color: var(--green);
}
  
#content {
    padding: 2rem;
    text-align: center;
    background-color: var(--bg-dark);
}
  
.logo {
    width: 250px; /* Adjust size as needed */
    height: auto;
    margin: 1rem auto;
}
  
h1, h2 {
    color: var(--text-lt);
}
  
p {
    color: var(--text-lt);
    font-size: 1.2rem;
}

.home, .menu, .about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--teal);
  padding: 20px;
  width: 480px;
  margin: 0 auto 4rem;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.menu-category {
  align-self: flex-start;
  margin-right: 275px;
}

.menu-item {
  font-weight: bold;
  align-self: flex-start;
  color: var(--text-lt);  
}

.item-description {
  color: var(--text-lt);
  font-size: 1rem;
  margin: 4px 0 1rem;
  width: 420px;
}

footer {
  background-color: var(--bg-alt); /* Alternative dark background */
  color: var(--text-lt); /* Light text for dark background */
  padding: 20px 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
  border-top: 2px solid var(--brown); /* Brown border for separation */
}

footer p {
  margin: 0;
  padding: 5px 0;
  font-size: 14px;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: var(--green); /* Primary green for icons */
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: var(--golden-yellow); /* Golden yellow on hover */
}

.social-links a:focus {
  outline: 2px solid var(--beige); /* Beige outline for accessibility */
  outline-offset: 2px;
}